<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIEW ALL</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
<h2 class="section-heading">MULTI-CAMERA</h2>

<div class="column-4 project-1" style="background: url('http://localhost:5000/video_feed/face_recognition/0')">
    <h2 class="project-text"></h2>
</div>

<div class="column-4 project-2" style="background: url('http://localhost:5000/video_feed/vehicle_detection/1')">
  <h2 class="project-text"></h2>
</div>

</body>
</html>
